#modal{
    background-color: lightgray;
    border-color: darkgrey;
}

.dropdown-menu{
  min-width: 10px !important;
  background-color: rgb(4, 38, 86);
  border-color: rgb(4, 38, 86);
  margin-bottom: 20px;
  color: #ffff;
}

.dropdown-menu{
  min-width: 10px !important;
}

.modal-box {
  margin-bottom: 2em;
  border: 3px solid #fff;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.column {
  float: right;
}

.left {
  width: 65%;
  background-color: #152733;
  color: #ffff;
}

.right {
  width: 35%;
  background-image: url(trust.jpg);
}

.btn{
  box-shadow:  1px 1px  #696868,
      1px 2px 1px  #696868,
      1px 3px 1px #696868,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
  color: #ffff;
}

.nav-flex{
  display: flex;
  flex-direction: row;
}

.btn-rgt{
  position: absolute;
  right: 0;
}

