@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* body {
  margin: 0;
  padding: 0;
} */

.header{
  /* width: 100%; */
  margin: 0;
}